{project_plugins, [rebar3_format, rebar3_lint]}.

{erl_opts, [debug_info, warnings_as_errors, report, {'enable-feature', all}]}.

{deps, []}.

{escript_incl_apps, [approx_funcs]}.

{escript_main_app, approx_funcs}.

{escript_name, approx_funcs}.

{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.
